{% extends "layout.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ book.title }}</h2>
    <p>{{ book.content }}</p>
    <h3>Infos</h3>
    {% for info in infos %}
        <strong>{{ info.auth_first_name }}</strong> said : {{ info.last_name }}<br>
    {% else %}
        No infos yet.
    {% endfor %}
</p>
{% endblock %}